<div class="jumbotron">
  <div class="container text-center">
    <h1 class="display-4">Bienvenue sur Joris.com !</h1>
    <p class="lead">Viens voir toutes les infos qu'on a sur Joris !</p>
  </div>
  <div class="text-center">
    <%= link_to 'Ballance un doss !', new_event_path, class: "btn btn-info btn-lg" %>
  </div>
</div>

<div class="container" >
	<%= render @all_events.reverse %>
</div>


  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Reivnaj 2020</p>
    </div>
    <!-- /.container -->
  </footer>
